@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container{ 
   display: grid;
   text-align: center;
  place-content:start;
  border: 1px solid rgb(138, 171, 175);
  min-width: 20vw;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows:75px 150px;
  border-radius: 20px;
  background-image: url(/Images/hand-drawn-question-mark-pattern/7227163.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 1.5rem ;
  
}

.name{
   background-color: rgba(29, 45, 56, 0.527);
   border-radius: inherit;
   font-size: 2.5rem;
   font-weight: bold;
   font-family: 'jost' ;
   line-height: 4rem;
   box-shadow: 0.5px 0.5px 1px black ;
   justify-content: start;

}
.name a{
   text-decoration: none;
   color: rgb(255, 255, 255);
   text-shadow: 3px 3px  black ;


}
.start {

 
  line-height: 2rem;
  align-self: center;
}


button{

       padding: 10px 30px;
       border-radius: 50px;
       color: white;
       background-color:rgb(54, 92, 128);
       border: none;
       font-size: 1.2rem;
       box-shadow:2px 2px 10px white;
       transition: 120ms ease-out;



}
button a {

    text-decoration: none;
    color: white;
}

button:active{
   margin-top: 20px;
}

@media screen and (min-width:390px) {
   .container{ 
      .container{ 
         display: grid;
         text-align: center;
        place-content:start;
        border: 1px solid rgb(138, 171, 175);
        min-width: 20vw;
        min-height: 100dvh;
        grid-template-columns: 1fr;
        grid-template-rows:75px 250px;
        border-radius: 20px;
        background-image: url(/Images/hand-drawn-question-mark-pattern/7227163.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        gap: 1.5rem ;
        
      }
      .start{
         grid-row: 3/4;
         font-size: 3rem;
      }
      
  }
  
   
}