 @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{ 
    display: grid;
    text-align: center;
   place-content: center;
   border: 1px solid rgb(138, 171, 175);
   min-width: 20vw;
   min-height: 100vh;
   grid-template-columns: 1fr;
   grid-template-rows:50px 50px 250px repeat(2,90px);
   border-radius: 20px;
   background-image: url(/Images/25235.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   gap: 1rem ;
   
}

.name{
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: inherit;
    border-bottom: none;
    font-size:2.5rem;
    font-weight: bold;
    font-family: 'jost' ;
    line-height: 4rem;
    box-shadow: 0.1px 0.1px 1px black ;
    justify-content: start;
    margin-top: -11px;

}
.name a{
    text-decoration: none;
    color: rgb(49, 44, 44);
    cursor: pointer;

}
.score-time{
    display: flex;
    font-size: 1.5rem;
    font-family: 'ruda';
    flex-direction: row;
    justify-content: space-between;
   grid-row: 2/3;
  
    
    
}

.score{
 margin: 0px 20px;
 font-weight: 600;
}
.time{
    font-weight: 500;
    margin: 0px 20px;

    
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  position: relative;
  top: 4px;
  border: 1px solid rgb(32, 32, 32);
  border-radius: 20px;
  padding: 5px;
  margin-right: 5px;
}

.Questions{
    line-height: 3.5rem;
    font-size:2rem ;
    font-family: 'Comfortaa', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
   overflow-wrap: break-word;
   word-break:keep-all;
   word-spacing: 0.5rem;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   transition: 0.4s ease-out;
   color:black;
   grid-row: 3/4;
   

}

.answer-input{
    line-height: 5rem;
    grid-row: 4/5;
}

.answer-input input{
    min-height: 2rem;
    min-width:auto ;
    border-radius: 1rem;
    padding: 0.7rem ;
vertical-align: middle;
    border: 1px solid rgb(164, 206, 209);
    
    

}
.answer-input:focus{
    border-color:rgb(164, 206, 209);
}

.answer-input-js{
    display: none;
    cursor: not-allowed;
    pointer-events: none;
}
.answer-input-js:focus{
    
    display: none;
    cursor: not-allowed;
    pointer-events: none;
    
}
.answer-input-block-js{
    cursor: not-allowed;
    pointer-events: none;

}
.button{
            align-self: center;
            grid-row: 5/-1;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 1.3rem;
}

.button:hover{
 

}
button{

        padding: 10px 30px;
        border-radius: 50px;
        color: white;
        background-color:rgb(19, 51, 59);
        border: none;
        font-size: 1.2rem;
        transition: 1s ease-in-out;
}

button:active{
   
    opacity: 0.8;
}

button:hover{
    background-color:rgb(8, 65, 65);
   transform:scale(1.2);

}
button a:hover{

    

}

.skip-btn-js{
    display: none;
    
}

@media screen {
    
}